.App {
  font-family: sans-serif;
  text-align: center;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.todo-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
}
.todo-col {
  flex-basis: 20%;
  border: 1px solid #000;
  margin: 5px;
  padding: 5px;
}
